#mainlayout {
  padding: 5px;
}

.actionButton {
  background-color: blueviolet;
}

.promptInput {
  width: 42em;
  height: 10em;
}
.subtitle {
  margin-top: 0px;
}

#navbar {
  padding: 5px;
}

#page {
  display: block;
  margin-top: 20px;
}
#leftrail {
  width: 200px;
  font-size: 12pt;
  float: left;
  margin: 5px;
}

#content {
  float: left;
}
